@font-face {
  font-family: 'iranianSans';
  src: url("./assets/fonts/IRANSansWeb.eot");
}
body {
  margin: 0;
  font-size: 16px;
  font-family:iranianSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
